@CHARSET "UTF-8";
/* .bb 클래스 예시 */
.bb {
    width: 300px;

}

.center-container {
    margin-top: 80px;
  }

body {
	font-family: 'Inter', sans-serif;
	text-align: center;
}
table {
	width: 100%;
	border-collapse: collapse;
    margin: 0 auto;
}
tr {
	height: 30px;
}

th {
	background-color: #f2f2f2;
}
th, td {	
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    vertical-align: middle;
}